.book {
  text-align: center;
  padding-top: 40px;
  outline: 5px solid black;
  padding-bottom: 50px;
  outline: 5px solid red;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @desktop-width) {
  .book {
    padding-top: 60px;
    padding-right: 380px;
    padding-left: 380px;


  }
}

.btn {
  display: block;
  background-color: var(--basic-blue);
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--basic-white);
  font-weight: bold;
font-size: 21px;
line-height: 26px;
width: 100%;
}

.book__description {
  padding-bottom: 30px;
}

@media (min-width: @desktop-width) {
  .book__title {
    font-size: 30px;

  }
}
