.form-fieldset {
  outline: 5px solid red;
  padding-left: 20px;
  padding-right: 20px;
}

.form-fieldset__title {
  text-align: center;
line-height: 26px;
font-size: 18px;
}

.form-field__label {
  font-size: 14px;
  line-height: 26px;
}
