.gallery {


  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
}

  @media (min-width: @desktop-width) {
    padding: 0;
  }

}


.gallery__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 23px;
  border-top: 1px solid var(--date-of-check-in-focus);
  text-align: center;
  margin: 0;
  position: relative;

@media (min-width: @tablet-width) {
  padding: 0;
  margin: 0;
  background-color: var(--form-chill);
  border:none;
  padding-bottom: 7px;
  // width: 100%;
}

@media (min-width: @desktop-width) {
  background-color: white;
  margin: 0;
  border: none;
  padding-bottom: 0
}

}

.gallery__item--big {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.gallery__photo {
  width: 100%;




}

.gallery__photo--desktop {
  height: 400px;

}


.like {
  display: flex;


  @media (min-width: @tablet-width) {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
margin: 0;
right: 65px;
bottom: 35px;
  }

}


.like-color {
  fill: var(--basic-black);
  opacity: 0.3;

  @media (min-width: @desktop-width) {
    fill: var(--basic-white);
    opacity: 1;
  }
}

.caption {

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    color: var(--basic-white);
    background-color: rgba(0,0,0,0.3);
    height: 85px;
  }
}


.gallery__item-name {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-top: 6px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 17px;
  }
}

.gallery__item-author {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-left: 22px;
    // margin: 0;
  }


  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.gallery__item-intro {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

}

.gallery__item-description--video {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
    // margin: 0 auto;
  }
}

.gallery__item--video-block {
  background-color: var(--date-of-check-in-focus);
  text-align: center;
  padding-bottom: 45px;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    background-color: var(--basic-white);
    padding-top: 30px;
    padding-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 24px;
  }
}

.gallery__item-video {
  padding-left: 0;
  padding-bottom: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.video__wrapper {
  height: 100%;
}

.gallery__figure {
  position: relative;
  margin: 0 auto;
  // outline: 5px solid red;
  // width: 320px;
  width: 100%;
  // height:200px;
  // margin-right: 23px;
  // margin-left: 23px;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 42px;
  }
}

.video__wrapper {
  position: relative;
}

.gallery__figcaption {
  position: absolute;
bottom: 5px;
left: 20px;
height: 45px;
width: 87%;
background-color: var(--basic-black);
opacity: 0.6;


margin-bottom: 0;
// margin: 0 auto;

@media (min-width: @tablet-width) {
  width: 100%;
  margin: 0 auto;
  height: 92px;
  bottom: 5px;
  left: 0;
}
}


.range-controls {
  position: relative;
  margin-top: 20px;
  left: 0;
  top: 0;
  margin-right: 20px;
  margin-left: 20px;
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
    margin-right: 160px;
    margin-top: 45px;

  }
}

// .toggle::before {
//   @media (min-width: @tablet-width) {
//     content: url("../../img/replay-tablet.svg");
//     position: absolute;
//     // background-color: white;
//     right: 50px;
//     top: -5px;
//
//   }
// }

// .toggle::after {
//   @media(min-width: @tablet-width) {
//     content: u
//     position: absolute;
//     // background-color: white;
//     left: 580px;
//     top: -5px;
//     // outline: 5px solid red;
//
//     @media (min-width: @desktop-width) {
//       content: url("../../img/subtitles-tablet.svg");
//       // outline: 5px solid red;
//       left: 600px;
//
//
//     }
//
// }
// }

// .gallery__figcaption::after {
//   @media(min-width: @tablet-width) {
//     content: url("../../img/fullscreen-tablet.svg");
//     position: absolute;
//     // background-color: white;
//     opacity: 1;
//     left: 750px;
//     top: 35px;
//
//   }
//
//   @media (min-width: @desktop-width) {
//     left:750px;
//     // outline: 5px solid red;
//
//   }
// }


 .toggle {
  position: absolute;
top: 18px;
left: 58px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(box-shadow-toggle);
  cursor: pointer;

  @media (min-width: @tablet-width) {
    // margin-left: 80px;
    left: 205px;
    top: 42px;
  }
}


.controls {
 background-color: var(--form-chill);
 position: relative;
 bottom: 5px;
 // top: 200px;
 // bottom: 5px;
 // padding-left: 25px;
 // padding-right: 25px;
 // width: 270px;
 width: 87%;
 padding-top: 24px;
 padding-bottom: 22px;
 margin-top: 0px;
 margin-left: 20px;
 // place-items: center;
 display: flex;
 justify-content: space-between;
// padding-left: 25px;
 @media (min-width: @tablet-width) {
   // // position: absolute;
    height: 0px;
    padding: 0;
    // width: 0px;
    background-color: inherit;
    // overflow: hidden;
    // clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    // clip: rect(1px, 1px, 1px, 1px);
    // white-space: nowrap; /* added line */
   //  bottom: 50px;
   // display: none;
 }
}

.play {
  // text-align: left;
  margin-left: 25px;
  width: 16px;
  height: 20px;
  background: url("../../img/icon-video-replay.svg");
  opacity: 1;
  &:hover,
  &:focus {
    opacity: 1;
  }
  &:active {
  opacity: 0.3;
  }
}

.play--tablet {
  @media (min-width: @tablet-width) {
    background: url("../../img/replay-tablet.svg");
    position: absolute;
    // outline: 5px solid red;
    bottom: 37px;
    left: -10px;

  }

  // @media (min-width: @tablet-width) {
  //   bottom: 80px;
  //   left: 30px;
  // }

  &:focus,
  &:hover {
    opacity: 0.6;
}
  &:active {
    opacity: 0.3;
  }
}

.sub {
  margin-left: 100px;
  width: 32px;
  height: 20px;
  background: url("../../img/icon-video-subtitles.svg");
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 1;
  }
  &:active {
  opacity: 0.3;
  }

}
.sub--tablet {
  @media (min-width: @tablet-width) {
    background: url("../../img/subtitles-tablet.svg");
    position: absolute;
    // outline: 5px solid red;
    bottom: 37px;
    right: 27px;
}

@media (min-width: @desktop-width) {
    right: 10px;
}

    &:focus,
    &:hover {
      opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}




.fs {
  @media(max-width: @mobile-width-only) {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: url("../../img/icon-video-fullscreen.svg");
  opacity: 1;



  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
  opacity: 0.3;
  }
}
}

.fs--tablet {
  @media (min-width: @tablet-width) {
    background:  url("../../img/fullscreen-tablet.svg");
    position: absolute;
    // outline: 5px solid red;
    bottom: 37px;
    right: -23px;
    width: 20px;
    height: 20px;

  }
    @media (min-width: @desktop-width) {
        right: -40px;
    }

    &:focus,
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }

.controls__btn {
  font-size: 0;
  outline: none;
  border: none;
}
