//
// .main::before {
//   content: url("../../img/bg-back-mobile.jpg");
//   // content: url("../../img/text-sedona.svg");
//   // background-image: url("../../img/bg-back-mobile.jpg");
//   position: relative;
//   // bottom: 0px;
//
//   height: 215px;
//   width: 320px;
//   // left: 0px;
//   // background-repeat: repeat;
//
// }
.main {
  position: relative;
}
.intro::before {
  content: "";
  background: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-mobile.jpg");
  background-size: 300px, cover, 100px;
  width: 100%;
  height: 380px;
  position:absolute;
  background-repeat: no-repeat;
  top: 0px;
  left: 0;
  z-index: -1;
  background-position: center, center;

  @media (min-resolution: 2dppx) {
      background: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-mobile@2x.jpg");
      background-size: 300px, cover, 100px;
      width: 100%;
      height: 380px;
      position:absolute;
      background-repeat: no-repeat;
      top: 0px;
      left: 0;
      z-index: -1;
      background-position: center, center;
    }
  // bottom: 300px;

  @media (min-width: @tablet-width) {
    background: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-tablet@1x.jpg");
    height: 520px;
    background-size: 480px, cover;
    // top: 10px;
    background-position: center, center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
        background: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-tablet@2x.jpg");
        height: 520px;
        background-size: 480px, cover;
        // top: 10px;
        background-position: center, center;
        background-repeat: no-repeat;
      }
  }

}

.intro::after {
  content: "";
  background-repeat: no-repeat;
  background: url("../../img/bg-intro-triangle-mobile.svg");
  width: 100%;
  height: 57px;
  position: absolute;
  background-size: contain;
  // bottom: 100px;
  left: 0;
  top: 355px;
  // outline: 5px solid red;

  @media (min-width: @tablet-width) {
background: url("../../img/bg-intro-triangle-tablet.svg");
top: 465px;
background-repeat: no-repeat;
background-size: cover;
  }

  @media (min-width: @desktop-width) {
    background: url("../../img/bg-intro-triangle-desktop.svg");

  }
}

.intro {
  // outline: 5px solid red;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 396px;
  padding-bottom: 35px;
  font-size: 18px;
line-height: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 540px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 550px;
    padding-left: 360px;
    padding-right: 360px;
    padding-bottom: 30px;
  }
}

.intro__title {
  //
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
  font-size: 21px;
  line-height: 26px;
}
}

.intro__describe {
  font-size: 14px;
  line-height: 26px;
  @media (min-width: @tablet-width) {
    // outline: 5px solid black;
    white-space: nowrap;

  }
}
