
.page-header {
  position: relative;
 background-color: var(--basic-white);
}

.main-nav::before {
  content: url("../../img/icon-cross1.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  right: 5px;
  top: 8px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}








.main-nav__toggle {
  position: absolute;
  top: 170px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: inherit;
  cursor: pointer;
  border: none;
  font-size: 0;
  fill: var(--basic-blue);
  // outline: 5px solid red;

  &:hover,
  &:focus {
    fill: black;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav {
  @media (min-width: @tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 140px) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 100px);
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    color: var(--basic-black);
  }


@media (min-width: @desktop-width){
    display: grid;
    grid-template-columns: minmax(min-content, 228px) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 226px);
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    text-align: left;

  }
}



.site-list__item {
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: auto;
  // column-gap: 200px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
  border: none;

  mix-blend-mode: normal;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  line-height: 40px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;

  @media (min-width: @tablet-width){
      color: var(--basic-black);
      background-color: var(--basic-white);
      // outline: 5px solid red;
    }
}


.header__logo {
  background-image: url("../../img/logo-sedona-mobile.svg");
  font-size: 0;
  // margin-left: 30px;
  position: absolute;
  left: 50%;
// outline: 5px solid red;
  top: 160px;
  width: 100px;
  height: 84px;
  transform: translate(-50%);

  @media (min-width: @tablet-width) {
    top: 0;
  }

  @media (min-width: @desktop-width) {
      background-image: url("../../img/logo-sedona-desktop.svg");
      width: 190px;
      height: 100px;
      background-repeat: no-repeat;
  }
}
