.reasons {
  position: relative;

}

.reason {
  // padding-bottom: 30px;
}
  @media (max-width: @mobile-width-only) {
.reason__desc::after {
    content: "";
    background: url(../../img/intro-triangle1.svg);
    position: absolute;
    left: 0;
    width: 100%;
    height: 145px;
    top: -56px;
    // background-size:  cover;
    background-repeat: no-repeat;
    right: 0;
    z-index: -1;
}
}
.reason {
  display: grid;
  // max-width: 256px;

}

.reason--bg-blue {
  // grid-template-columns: min-content;
  background-color: var(--basic-blue);
  // padding-bottom: 10px;
  margin: 0;
  // outline: 5px solid red;
  @media (min-width: @tablet-width){

      grid-template-columns: 1fr 2fr;
      // padding-bottom: 45px;

  }
}

.reason__picture {
  width: 100%;
  height: 256px;
  @media (min-width: @desktop-width) {

  // width: 800px;
}
}





.features--bg-grey {
  background-color: var(--background-grey);
  color: var(--basic-black);

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
.reason__title,
.reason__number,
.reason__description {
  display: block;
  text-align: center;
  line-height: 26px;
  color: var(--basic-white);
}

// .reason__number {
//   display: block;
//   text-align: center;
//   margin: 0 auto;
// }

.reason__description,
.reason__number {
  font-size: 14px;
line-height: 21px;
padding-bottom: 10px;
margin-left: 5px;

@media (min-width: @tablet-width) {

}
}

.reason__desc {

  @media (min-width: @tablet-width) {
    // outline: 5px solid black;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width){
  // padding-top: 50px;
  // // padding-bottom: 50px;
  // padding-left: 80px;
  // padding-right: 80px;


}
}

.reason__title {
  font-size: 18px;

  @media(min-width: @tablet-width) {
  padding-left: 48px;
  padding-right: 48px;
  // outline: 5px solid red;
  white-space: nowrap;
  // text-align: inherit;
}
}
.reason__title--grey {
  margin: 0;
  padding-top: 25px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    // padding-left: 70px;
    // padding-right: 70px;
    padding-top: 0;
  }
  @media (min-width: @desktop-width) {
    // margin-left: 70px;
    // margin-right: 70px;
  }
}

.reason__title--grey,
.reason__number--grey,
.reason__description--grey {
  display: block;
  text-align: center;
  line-height: 26px;
  color: var(--basic-black);
}

.reason__description--grey,
.reason__number--grey {
  font-size: 14px;
line-height: 21px;
}


.features__item {

  @media (min-width: @tablet-width) {
    // outline: 5px solid red;
    text-align: center;
    // padding-left: 30px;
    // padding-right: 30px;
    // padding-bottom: 60px;
    // padding-top: 40px;
  }
  // padding-left: 20px;

}
.features--white {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-right: 20px;

  @media(min-width: @tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features--bg-grey {
  padding-left: 25px;
  padding-right: 25px;
}

.features {

  @media (min-width: @tablet-width){
  // padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-left: 40px;
  // padding-right: 40px;
  // outline: 5px solid red;
  padding-right: 20px;
}
}



.features__item--grey {

  @media (max-width: @mobile-width-only) {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  // text-align: center;
  // outline: 5px solid red;
}

  @media (min-width: @tablet-width) {

  }
  @media (min-width: @desktop-width){

    position: relative;
    padding-left: 70px;
    // padding-left: 160px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 80px;
  }


}







.features__item--house::before {
  content:  url("../../img/icon-house1.svg");
  // width: 32px;
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;
  // height: 100%;
    vertical-align: middle;

    @media (min-width: @tablet-width) {
      content: url("../../img/icon-house-tablet.svg");
      display: block;
      margin-bottom: 50px;
      // position: absolute;
      // left: 20%;

    }

    @media (min-width: @desktop-width) {
      // margin-left: 160px;
    }
}





.features__item--food::before {
  content: url("../../img/icon-burger1.svg");
  // width: 32px;
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;
  // height: 100%;
    vertical-align: middle;

    @media (min-width: @tablet-width) {
      content: url("../../img/icon-burger-tablet.svg");
      display: block;
      margin-bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      // margin-left: 160px;
    }

}

.features__item--things::before {
  content: url("../../img/icon-gift1.svg");
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;

    @media (min-width: @tablet-width) {
      content: url("../../img/icon-gift-tablet.svg");
      display: block;
      margin-bottom: 50px;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: @desktop-width) {
      // margin-left: 160px;
    }
}



.features__title {
  margin-left: 10px;
  @media(min-width: @tablet-width) {
    margin-left: 0;
    font-size: 21px;
    // margin-left: 80px;

  }
}
// .features__descr {
//   padding-left: 75px;
// }

.features__descr {
  margin-left: 47px;
  @media(min-width: @tablet-width) {
    // text-align: center;
    margin-left: 0;
  }
}
